---
version: "3.9"
services:
  bed-socket:
    image: trevorlauder/bn-adjustable-bed_bed-socket:latest
    container_name: bn-adjustable-bed_bed-socket
    networks:
      default:
      lan:
        ipv4_address: <IP>
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
    ports:
      - "23778"
    restart: unless-stopped
  app-api:
    image: trevorlauder/bn-adjustable-bed_app-api:latest
    container_name: bn-adjustable-bed_app-api
    networks:
      default:
      lan:
        ipv4_address: <IP>
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
    ports:
      - "80"
    restart: unless-stopped
  controller-api:
    image: trevorlauder/bn-adjustable-bed_controller-api:latest
    container_name: bn-adjustable-bed_controller-api
    networks:
      default:
      lan:
        ipv4_address: <IP>
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
      - bed-socket
    ports:
      - "80"
    restart: unless-stopped
  redis:
    image: redis:6
    container_name: bn-adjustable-bed-redis
    networks:
      default:
    ports:
      - "6379"
    restart: unless-stopped

networks:
  default:
    driver: bridge
  lan:
    external: true
