[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "~=3.5.3"
reyaml = "~=0.2.2"

[dev-packages]
black = "==21.6b0"
flake8 = "~=3.9.2"
isort = "~=5.9.1"

[requires]
python_full_version = "3.9.5"
